HELP.md
### target/ ###
!.mvn/wrapper/maven-wrapper.jar
### !**/src/main/**/target/### 
!**/src/test/**/target/
*.class
/target/classes 
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
bin/
/target/FoodMap04
target/m2e-wtp/
target/tomcat.8080/
gmail應用程式密碼.txt
