<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="./css/homepage.css">
    <!-- Timeline -->
    <script src="./test/console-ban.min.js"></script>
    <link href="./test/pre.css" rel="stylesheet" />
    <script src="./test/previewjs.js"></script>
    <script src="./js/jquery-3.6.0.js"></script>
    
</head>

<body>
    <div id="banner">
        <img src="./image/mapBanner.jpg" alt="">
    </div>


    <div id="timeLine">
        <div id="iframe-wrap">

        </div>
        <input type="hidden" id="id" value="6825" />
        <input type="hidden" id="cate" value="151" />
        <input type="hidden" id="viewurl" value="./resources/timelineTestMain.html"/>
        <input type="hidden" id="defauldevice" value="0" />

        <div id='message_container'>
            <div id='error'></div>
        </div>
    </div>
    <script>
    	var i = document.querySelector("img")
    	console.log(i.src)
    </script>
</body>

</html>