img {
    width: 2em;
    height: 2em;
}

legend {
    font-weight: bold;
    font-size: 20px;
}

.st1, .submitBtnContainer {
    width: 500px;
    margin: 0 auto;
}

.st1 {
    border-bottom: 1px #7B7B7B dashed;
    /* 以 border-bottom 為分界*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.submitBtnContainer{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.t1 {
    width: 100px;
    /* float: left; */
}

.hint {
    color: #7B7B7B;
    font-size: small;
}

.correct {
    color: green;
    font-size: small;
}

.incorrect {
    color: red;
    font-style: italic;
    font-size: small;
}

.fa-check-circle {
    color: green;
}

.fa-time-circle {
    color: red;
}